html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    background: ButtonFace;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
nav{
  display: flex;
  flex-direction: row;
  padding: 16px;
  border: rgb(5, 4, 2);
  background: linear-gradient(to left, khaki, orange);
  font-family: 'century gothic',sans-serif;
  font-weight: bold;
  
}
nav a{
  margin-left: 16px;
}

.carousel-img {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  margin-top: 1cm;
}

.card-container {
}

.card-container img {
  height: 300px;
}
.slid-img {
display:flex;
flex-direction: row;
align-items: center;
width: 450px;
height: 10px;
margin-top: 8cm;
}
.Text{
  margin-top: 5cm;
  font-family: 'century gothic',sans-serif;
  font-weight: bold;
  font-size: 33px;
  color: rgb(230, 97, 45);
  
}
.navm{
margin-top: 2.3cm;
background: rgb(197, 182, 248);
color: rgb(49, 0, 139);
font-size: 15px;
font-weight: bold;
}

.box{
  margin-top: 1cm;
    display: flex;
    flex-flow: row wrap;
}
.titulo{
  font-family: 'century gothic',sans-serif;
  font-weight: bold;
  font-size: 55px;
  color: rgb(51, 3, 182);
}
.parrafos{
  font-family: 'century gothic',sans-serif;
  font-weight: normal;
  font-size: 25px;
  color: rgb(68, 67, 67);
}
.boton{
background: rgb(255, 80, 80);
border-radius: 10px;
color: rgb(248, 202, 186);
font-weight: bold;
width: 300px;
text-align: center;
border-color: rgb(51, 23, 38);
border: 1px mm;
}
.boxs{
    display: flex;
    flex-flow: row wrap;
}
.parrafoss{
  text-align: center;
  margin-top:.50cm;
  margin-right: 14cm;
  font-family: 'century gothic',sans-serif;
  background: rgb(252, 199, 102);
  border-radius: 7px;
  font-size: 17px;

}
.parrafossd{
  text-align: center;
  margin-top: -3.3cm;
  margin-left: 16cm;
  font-family: 'century gothic',sans-serif;
  background: rgb(252, 199, 102);
  border-radius: 7px;
  font-size: 17px;
}
.botton{
  background: rgb(255, 121, 80);
  border-radius: 5px;
  color: rgb(247, 221, 212);
  font-weight: bold;
  width: 350px;
  text-align: center;
  border-color: rgb(51, 23, 38);
  border: 1px mm;
  box-shadow: 6px 6px 10px -1px rgba(0, 0, 0, 0.15);
  
}
.botonn{
  background: rgb(255, 121, 80);
  border-radius: 5px;
  color: rgb(247, 221, 212);
  font-weight: bold;
  width: 350px;
  text-align: center;
  border-color: rgb(51, 23, 38);
  border: 1px mm;
  font-family: 'century gothic',sans-serif;
  box-shadow: 6px 6px 10px -1px rgba(0, 0, 0, 0.15);
}